<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="Northwestern University">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the '3 Col Portfolio' Template -->
    <link href="{{ site.baseurl }}/css/trep-site.css" rel="stylesheet">
    
    <!-- Google Analytics Tracker -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-37522005-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://murpheylab.github.io/trep">
                    <img class="hidden-xxs" src="{{ site.baseurl }}/images/logo.png" alt="">
                    <img class="visible-xxs" src="{{ site.baseurl }}/images/logo_small.png" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.baseurl }}/install/index.html">Installation</a>
                    </li>
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="http://trep.readthedocs.io/en/latest/">Development</a></li>
                        <li class="divider"></li>
                        <li><a href="http://trep.readthedocs.io/en/stable/">Stable - {{ site.data.releases[0].version_name }}</a></li>
                        <li class="divider"></li>
                        <li><a href="http://wiki.ros.org/python_trep">ROS Tools</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ site.baseurl }}/documentation/">ChangeLog</a></li>
                      </ul>
                    </li>
                    <li><a href="https://github.com/MurpheyLab/trep/issues">Issue Tracker</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <a class="hidden-xs" href="https://github.com/MurpheyLab/trep"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ site.baseurl }}/images/banner.png" alt="View code on GitHub"></a>

    {{ content }}

    <footer>
        <div class="container">
            <div class="row"">
                <div class="col-lg-12">
                    <a href="http://www.northwestern.edu"><img class="visible-xxs" style="display: block; margin-left: auto; margin-right: auto; padding-bottom: 10px;" src="{{ site.baseurl }}/images/nulogo.png"></a>
                </div>
            </div>

            <div class="row"">
                <div class="col-lg-12">
                    <table style="margin: 0px auto;">
                    <tr>
                        <td style="padding-right: 25px;">
                        <a href="http://www.northwestern.edu"><img class="hidden-xxs" style="padding-right: 25px;" src="{{ site.baseurl }}/images/nulogo.png"></a>
                        </td>
                        <td>
                        <p class="text-left">The Neuroscience and Robotics Lab (NxR)<br>
                        Trep is released under the GPLv3 license.<br>
                        Original development by Elliot Johnson<br>
                        &copy 2015 Neuroscience and Robotics Lab, Northwestern University</p>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery-1.10.2.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.js"></script>

</body>

</html>
