<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the '3 Col Portfolio' Template -->
    <link href="/css/trep-site.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://murpheylab.github.io/trep"><img src="/images/test.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/install/index.html">Installation</a>
                    </li>
                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/documentation/current/">Development</a></li>
                        <li class="divider"></li>
                        <li><a href="#">v0.92</a></li>
                        <li><a href="#">v0.91</a></li>
                      </ul>
                    </li>
                    <li><a href="https://github.com/MurpheyLab/trep/issues">Issue Tracker</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <a href="https://github.com/MurpheyLab/trep"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

    {{ content }}

    <footer>
        <div class="container">

            <div class="row"">
                <div class="col-sm-3 col-xs-3">
                    <a href="http://www.northwestern.edu"><img src="/images/nulogo.png"></a>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <p class="text-left">Neuroscience and Robotics Lab (NxR)<br>
                    Trep is distributed under the GNU license.<br>
                    Original development by Elliot Johnson<br>
                    &copy 2014 Neuroscience and Robotics Lab, Northwestern University</p>
                </div>

            </div>
        </div>
    </footer>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>

</body>

</html>
